{{ define "styles" }}
{{ $files := slice "preflight.css" "main.css" "home.css" }}
{{ range $files }}
  {{ with resources.Get . | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{ end }}
{{ end }}
{{ end }}

{{ define "seo" }}
{{ end }}

{{ define "header" }}
<header class="section">
    <div id="hero" class="section">
        <h1>{{ .Params.title }}</h1>
        <p>{{ .Site.Params.description }}</p>
    </div>
</header>
{{ end }}

{{ define "main" }}
<main aria-role="main">
    {{ .Content }}
</main>
{{ end }}
